.sq{
    width:10px;
    height:10px;
    display: inline-block;
}



#game{
   
    width: 405px;
    height: 405px;
}

.g1, .g2, .g3, .g4{
    width: 200px;
    height: 200px;
    border: 1px solid rgb(52, 52, 71);
    display: inline-block;
    background-color: rgb(115, 176, 233);
} 


.red{
    background-color: red;
}

.green{
    background-color: green;
}

.blue{
    background-color: blue;
}

#win, #loose{
    font-size: 46px;
}